{{log this}}
<div class="column">
  <div class="col-auto">
    <h4>{{name}}'s Bucket List!</h4>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="container">
        <div id="BucketList">
           <button type ="travel-lock" class="btn btn-primary">Travel</button>
                <ul id="travel-list"></ul>
                <br>
                 <button type ="travel-lock" class="btn btn-primary">Food</button>
                <ul id ="food=list"></ul>
                <br> 
                <button type ="travel-lock" class="btn btn-primary">Adrenaline</button>
                <ul id ="adrenaline-list"></ul>
                <br>     
        <div>
        <button type="submit" class="btn btn-primary">Create</button>
         <button type="save" class="btn btn-primary">Save</button>
          <button type="email" class="btn btn-primary">Email</button>
          
      </div>
      <div>
        <button type="submit" class="btn btn-primary" id="logout">Logout</button>
      </div>
  </div>
<script src="./js/logout.js"></script>