{{log this}}
<div id="landing-page" style="visibility:visible">
  <input class="form-input" type="text" id="title-create" />
  <button type="travel-lock" class="btn btn-primary" id="create">Create List</button>
</div>
<div id="list-generator">
  <div class="column">
    <div class="col-auto">
      <h3>{{name}}'s Bucket Lists:</h3>
    </div>
  </div>
  {{#each bucketLists as |list|}}
  <a href="/bucketlist/{{list.id}}">
    <p>{{list.title}}</p>
  </a>
  {{/each}}

</div>
<div>
  <button type="submit" class="btn btn-primary" id="logout">Logout</button>
</div>
<div id="profile-container">
  <br>
</div>
<div>
  <a href="/">
    <button type="generate-lock" class="btn btn-primary" id="profile-generate">Return Home</button>
  </a>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>