h1{ 
   color: #5087ed;
   text-align: center;
   font-size: 50px;
   font-family: 'Bruno Ace', cursive;
   text-shadow: 3px 3px 5px rgb(141, 139, 139);
}
.card1{
   border-color:#5087ed;
   border-style: solid;
   border-radius: 10px;
   display:flex;
   justify-content: center;
}
.card2{
   border-color:#5087ed;
   border-style: solid;
   border-radius: 10px;
   display:flex;
   justify-content: center;
   padding-top: 10px;
}
h2{
   text-align: center;
}
h4{
   color: #5087ed;
   text-align: center;
   text-shadow: 2px 2px 3px rgb(141, 139, 139);
}

i{
   text-align: center;
   font-size: 50px;
   text-shadow: 3px 3px 5px rgb(141, 139, 139);
}
main{
   padding: none;

}


ul{
   text-align: center;
   padding: none;
}

